@font-face {
    font-family: 'Nova Flat';
    src: url('../CSS-week1-HW1/css/fonts/NovaFlat-Regular.ttf') format('truetype');
    /* Modern Browsers (Best compression) */

    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nova Flat', sans-serif;
    font-size: 100%;
    color: #ffffff;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #0D1117;
}

p {
    line-height: 1.5;
}

h1 {
    font-family: 'Nova Flat', sans-serif;
    text-align: center;
    color: #ffffff;
}

a {
    color: #f2f2f2;
    text-decoration: underline dotted;
    text-decoration-thickness: 0.5px;
    padding-bottom: 1px;
    font-size: 1em;
    transition: color 0.3s ease;
}

a:hover {
    color: #8d12f1;
}

.greetings {
    float: left;
    margin-right: 20px;
    /* Adds space between the image and the text */
    margin-bottom: 50px;
    margin-top: 30px;
    /* Optional: constrains the image size */
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212830;
    padding: 0.8rem 4rem;
}

/* Menu list styling */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 8rem;
    /* Space between menu items */
}

/* Link styling */
.navbar-menu a {
    color: #f2f2f2;
    text-decoration: underline dotted;
    text-decoration-thickness: 1.5px;
    padding-bottom: 1px;
    font-size: 1em;
    transition: color 0.3s ease;
}

/* Hover effect */
.navbar-menu a:hover {
    color: #8d12f1;
}

a[target="_blank"]::after {
    content: "↗";
}

footer {
    background-color: #0D1117;
}

header {
    background-color: #0D1117;
}

main {
    background-color: #0D1117;
    font-size: 100%;
}